{% extends "base.html" %}

{% block 'content' %}
<div class="container">
    <h1>Acerca de nosotros</h1>
</div>
<div>
    <h2>Misión</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sint debitis. Fugiat id esse delectus eum unde
        recusandae ducimus fugit neque. Obcaecati sint perferendis impedit voluptate doloremque in totam laudantium.</p>
</div>
<div>
    <h2>Visión</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolorum molestias quos nobis ducimus
        nesciunt deserunt. Maxime ab, nam beatae in dolorem nobis perspiciatis deleniti quos, amet magni rerum
        consectetur.</p>
</div>
{% endblock %}